name: This is the first workflow.

on:
  workflow_dispatch:

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps: 
      - name: This is the first step
        run: echo "Hello Github Actions!!!"
